/* CSS Document */
body {
    font:12px arial;
    color: #222;
    text-align:center;
    padding:35px; }

form, p, span {
    margin:0;
    padding:0; }

input { font:12px arial; }

a {
    color:#0000FF;
    text-decoration:none; }

a:hover { text-decoration:underline; }

#wrapper, #loginform {
    margin: 0 auto;
    margin-right: 5%;
    padding-bottom:25px;
    background:#EBF4FB;
    width: 504px;
    height: auto;
    border:1px solid #ACD8F0;
    flex-grow: 1;}

#drawfield {
    margin:5% auto;
    margin-bottom: 0px;
    background:#fff;
    height: 470px;
    width:630px;
    border:1px solid #ACD8F0;
    overflow:auto;
}


#drawingword {
    align-self: center;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 0.5%;
}

#drawwrapper {

    padding-bottom:25px;
    background:#EBF4FB;
    width: 704px;
    height: auto;
    border:1px solid #ACD8F0;

}

#toolwrapper {
    border:1px solid #ACD8F0;
    width: 15%;
    background: #EBF4FB;
    margin-left: 5%;
}
#loginform { padding-top:18px; }

#loginform p { margin: 5px; }

#chatbox {
    text-align:left;
    margin: 2% auto;
    margin-bottom:15px;
    padding:10px;
    background:#fff;
    height: 81.3%;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }

#usermsg {
    width:395px;
    height: 20px;
    border:1px solid #ACD8F0; }

#submit { width: 60px; }

.error { color: #ff0000; }

#menu { padding:12.5px 25px 12.5px 25px; }

.welcome { float:left; }

.logout { float:right; }

.msgln { margin:0 0 2px 0; }

.container { display: flex; }